
<div class="rounded">
    <div class="weather-info font-sans p-6 flex text-white bg-[url('src\assets\france.svg')] min-h-80">
      <div class="global-temperature flex-1 mt-8 text-center max-w-80">
        <div class="temperature text-8xl">
          12°
        </div>
        <div class="weather-condition text-4xl">
          NUAGEUX
        </div>
        <div class="weather-h-w flex text-2xl mt-6">
          <div class="humidity flex-1 pl-8">
            <div>Humidité </div>
            <div>65%</div>
          </div>
          <div class="w-px bg-white"></div>
          <div class="wind flex-1 max-w-48">
            <p>Vent</p>
            <p>10 km/h</p>
          </div>
        </div>
      </div>
      <div class="location flex-1 text-6xl text-right mr-24 underline">
        France
      </div>
    </div>
    <div class="twitter-feed flex p-6 bg-[#f1e5eb]">
      <div class="all-tweets flex-1 max-w-lg">
        <div class="flex">
          <img src="..\assets\580b57fcd9996e24bc43c53e.png" class="max-w-12 h-12 rounded-full flex-1">
          <p class="flex-1 text-4xl max-w-64 ml-6">Twitter Feed</p>
          <p class="flex-1 mt-2">#Fance<p>
        </div>
        <div class="flex pt-12">
          <img src="..\assets\cercle.png" class="max-w-16 h-16 rounded-full flex-1">
          <p class="tweet-text mt-5 ml-6">Don't Forget your sunscreen tomorrow!</p>
        </div>
        <div class="flex pt-6">
          <img src="..\assets\cercle.png" class="max-w-16 h-16 rounded-full flex-1">
          <p class="tweet-text mt-5 ml-6">Amazing weather in Paris!</p>
        </div>
      </div>
      <div class="w-1 bg-blue-500"></div>
      <div class="days flex flex-1 p-6 items-center">
        <div class="day flex-1">
          <div class="day-text text-2xl ml-4"> MON </div>
          <img src="..\assets\pluvieux.png" class="max-w-24 h-24 rounded-full flex-1">
          <div class="day-temperature ml-8"> 9° </div>
          <div class="ml-4">RANNIG</div>
        </div>
        <div class="day flex-1">
          <div class="day-text text-2xl ml-4"> TUE </div>
          <img src="..\assets\soleil.png" class="max-w-24 h-24 rounded-full flex-1">
          <div class="day-temperature ml-8"> 15° </div>
          <div class="ml-4">SUNNY</div>
        </div>
        <div class="day flex-1">
          <div class="day-text text-2xl ml-4"> WED </div>
          <img src="..\assets\nuageux.png" class="max-w-24 h-24 rounded-full flex-1">
          <div class="day-temperature ml-8"> 11° </div>
          <div class="ml-4">CLOUDY</div>
        </div>
        <div class="day flex-1">
          <div class="day-text text-2xl ml-4"> THU </div>
          <img src="..\assets\soleil.png" class="max-w-24 h-24 rounded-full flex-1">
          <div class="day-temperature ml-8"> 19° </div>
          <div class="ml-4">SUNNY</div>
        </div>
        <div class="day flex-1">
          <div class="day-text text-2xl ml-8"> FRI </div>
          <img src="..\assets\nuageux.png" class="max-w-24 h-24 rounded-full flex-1">
          <div class="day-temperature ml-8"> 12° </div>
          <div class="ml-4">CLOUDY</div>
        </div>
      </div>
    </div>
  </div>
  