<div>
    <div class="flex">
      <img src="..\assets\580b57fcd9996e24bc43c53e.png" class="max-w-12 h-12 rounded-full flex-1">
      <p class="flex-1 text-4xl max-w-64 ml-6">Twitter Feed</p>
      <p class="flex-1 mt-2">#Fance<p>
    </div>
    <div class="flex pt-12">
      <img src="..\assets\cercle.png" class="max-w-16 h-16 rounded-full flex-1">
      <p class="tweet-text mt-5 ml-6">Don't Forget your sunscreen tomorrow!</p>
    </div>
    <div class="flex pt-6">
      <img src="..\assets\cercle.png" class="max-w-16 h-16 rounded-full flex-1">
      <p class="tweet-text mt-5 ml-6">Amazing weather in Paris!</p>
    </div>
</div>