<div class="flex p-4 bg-[url('src\assets\background.png')]">
     <div class="flex-1 max-w-32">
       <img src="..\assets\fleche-gauche.png" class="max-w-12 h-12 rounded-full flex-1">
       <p class="text-white">BACK</p>
     </div>
     <div class="flex-1">
       <app-weather-info></app-weather-info>
       <div class="twitter-feed flex p-6 bg-[#f1e5eb] rounded-b-lg">
          <app-twitter-feed class="flex-1 max-w-lg"></app-twitter-feed>
          <div class="w-1 bg-blue-500"></div>
          <div class="flex flex-1 p-6 items-center">
               <div *ngFor="let weather of weathers" class="flex-1">
                    <app-day-weather [weather]="weather" ></app-day-weather>  
               </div>
          </div> 
       </div>     
    </div>
</div>